{% extends 'base.html' %}

{% block menu %}
{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <div class="container">
        <a class="navbar-brand text-dark" href="">Poems</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div class="row">
          <div class="col-md-15">
            <a class="btn btn-primary" href="">Back</a>
          </div>
        </div>
        </div>
      </div>
    </nav>


    <div class="container">
      <div class="row d-flex justify-content-center">
          <div class="col-md-4 border bg-light p-4 mt-5 rounded text-dark">
              <form class="" method="POST"> 
                    <div class="mb-3">
                      <label for="email" class="form-label">Email addres</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter e-mail">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter password">
                    </div>
                  <div class="d-grid">
                      <a class="btn btn-primary" href="user_main.html">Enviar</a>
                  </div>
                </form> 
          </div>
      </div>

  {% endblock %}