{% extends 'base.html' %}

{% block content %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <div class="container">
              <a class="navbar-brand text-dark" href="main.html">Poems</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <div class="row">
                    <div class="col-md-15">
                        <a class="btn btn-primary" href="user_profile.html">Back</a>
                    </div>
                </div>
              </div>
            </div>
        </nav>


        <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="UserName">
              </div>
              <div class="form-group col-md-4">
                <label for="email">E-mail address</label>
                <input type="email" class="form-control" placeholder="User@mail.com">
              </div>
            </div>
            <div class="row justify-content-center mt-5">
              <div class="from-group col-md-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group col-md-4">
               <label for="newPassword">New password</label>
               <input type="password" class="form-control" placeholder="New password">
              </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="d-grid col-sm-4">
                    <a class="btn btn-primary" href="user_profile.html">Save</a>
                </div>
            </div>
        </div>

{% endblock %}